<h2>Areas I serve</h2>

<div class="table-responsive">
    <h4 algin="center">@ViewBag.Title</h4>
    <table>
        <tbody>
            <tr>
                <td>
                    <ul style="list-style-type:none">
                        <li>South Brunswick</li>
                        <li>Helmetta</li>
                    </ul>
                </td>
                <td>
                    <ul style="list-style-type:none">
                        <li>North Brunswick</li>
                        <li>Dayton</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>